# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project dependencies & deployments
node_modules/
.netlify/
package.json
package-lock.json
